.main_contact-section{
    background-image: url(/src/img/image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1.5vw 3vw;
   
}
.contact_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.contact_form {
    max-width:400px;
    padding:20px;
    background:#ffffff59; 
    -webkit-box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
    box-shadow: 3px 3px 23px -9px rgba(0,0,0,0.86);
  }
  
  .form_textarea{
    resize: none;
    height: 3vw;
  }
  .form-control {
    border:1px solid #eee;
    border-radius:0 !important;
    padding:5px 8px;
    color:#444;
  }
  
  .form_btn {
    font-size: 1rem;
    color:#555;
    background:#ffffffad;
    border:1px solid #fff !important;
    margin-top:20px;
    border-radius:0px Important;
  }
  
  .form_btn:hover {
    background:#fff !important;
  }
  
  .pull-right {
    float:right;
  }