@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100&display=swap');
*{
    font-family: 'Inter', sans-serif;
}
ul{
    margin: 0;
}
.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    background-color: rgba(0,0,0,.6);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
    transition: opacity .3s ease-in-out,visibility .3s ease-in-out;
}
.overlay_active{
    opacity: 1;
    visibility: visible;
}