.menu-btn {
    width: 50px;
    height: 50px;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    right: 15px;
    z-index: 1000;
}
.show{
    display: none;
}
@media (max-width:1200px) {
    .show{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.menu-btn__burger {
    width: 30px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #000;
    border-radius: 5px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.menu-btn__burger::before {
    -webkit-transform: translateY(-16px);
        -ms-transform: translateY(-16px);
            transform: translateY(-16px);
}

.menu-btn__burger::after {
    -webkit-transform: translateY(16px);
        -ms-transform: translateY(16px);
            transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    -webkit-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
            transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
        -ms-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px);
    background: #FF5A30;
}

.menu-btn.open .menu-btn__burger::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
        -ms-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px);
    background:#FF5A30;
}

.menu-btn.open{
    border: 3px solid #FF5A30;
}